@import '../styles/colors';

.hrItem {
    width: 95%;
    background-color: $details;
    border: none;
    height: 1px;
    margin-bottom: 1em;
    flex: none;
}

@mixin fixedRound($top, $left, $transition) {
    background-color: $details;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    left: $left;
    top: $top;
    transition: $transition ease-in-out;
    z-index: -1;
}

